@import compass/css3

html
  font-size: 18px

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4
  margin: 0
  padding: 0
  line-height: 1em
  +box-sizing(border-box)

#navbar
  height: 136px
  background-color: #ccc
  background: url("../img/nav.png") no-repeat center top, url("../img/nav-repeat.png") repeat-x center
  padding-top: 85px
  .menu.main
    width: 960px
    margin: 0 auto
    font-weight: bold
    .item
      border-bottom: 5px solid rgba(#c1272d,0)
    .active
      color: #000
      border-color: #c1272d
      background-color: rgba(#c1272d,0.1)
  .filter
    min-width: 170px
    margin-right: 50px
    .menu
      background-color: #ffe6e7

#roster
  background: url("../img/roster-repeat.png"), linear-gradient(#a67c52, rgba(#754c24,1))
  //padding-top: 0.5rem
  .board
    width: 960px
    margin: 0 auto
    //background-color: #004524
    background-color: #333
    color: #eee
    border-bottom: 5px #ccc solid
    border-top: 1px rgba(#fff,0.5) solid
    +box-shadow(0 2px 5px rgba(#000,1))
    .statistic
      float: left
      .attend
        background-color: green
        color: #fff
      .refuse
        background-color: red
        color: #fff
    .list
      overflow-x: auto
      padding: 1rem
      .avatar
        float: left
        position: relative
        margin-right: 1rem
        .image
          position: relative
          width: 5rem
          height: 5rem
          background-color: #ccc
          text-align: center
          border: 3px #fff solid
          .name
            padding: 0.3rem
        .status
          position: absolute
          margin: 0
          padding: 0
          width: 1rem
          height: 1rem
          left: -0.3rem
          top: -0.3rem
          border: 1px #fff solid!important
        .count
          font-size: 0.85rem
          padding: 0.3rem
          text-align: center
#content
  width: 960px
  margin: 0.5rem auto
  .ui.menu.filter
    font-weight: bold
    margin: 0
  .question
    padding: 0.3rem 0
    border-bottom: 1px #ccc solid
    &.new
      width: 100%
      margin: 0.5rem 0
      border: none
      input
        border: 2px #ccc dashed
        .icon
          padding: 1rem
    .count
      margin: 0
    .title
      display: inline
      margin-left: 1rem
    .roster
      float: right
      .item
        padding: 0.8rem 0.3rem
    .status
      float: right
      i.icon
        padding: 0.6rem 0
