extends _template

block body

  #roster
    .board
      .statistic
        .ui.list
          .item
            .ui.label.attend 4
            | 出席中
          .item
            .ui.label.gray 3
            | 尚未回應邀請
          .item
            .ui.label.refuse 1
            | 拒絕出席
      .list
        .avatar
          .ui.image
            img(src="img/kwc.jpg")
            .ui.bottom.attached.label.name 柯文哲
            .ui.label.status.gray
          .count
            i.icon.comment
            | 0 / 12
        .avatar
          .ui.image
            img(src="img/gls.jpg")
            .ui.bottom.attached.label.name 顧立雄
            .ui.label.status.green
          .count
            i.icon.comment
            | 12 / 12
            br
            i.icon.star.green
            i.icon.star.green
            i.icon.star.green
            i.icon.star.red
            i.icon.star.red
        .avatar
          .ui.image
            img(src="img/htt.jpg")
            .ui.bottom.attached.label.name 許添財
            .ui.label.status.gray
          .count
            i.icon.comment
            | 0 / 12
        .avatar
          .ui.image
            img(src="img/fkw.jpg")
            .ui.bottom.attached.label.name 馮光遠
            .ui.label.status.green
          .count
            i.icon.comment
            | 12 / 12
            br
            i.icon.star.green
            i.icon.star.green
            i.icon.star.green
            i.icon.star.red
            i.icon.star.red
        .avatar
          .ui.image
            img(src="")
            .ui.bottom.attached.label.name 連勝文
            .ui.label.status.red
          .count
            i.icon.comment
            | 0 / 12

  block content

block script
  script.
    $("#navbar .ask").addClass("active");
    $("#content .filter .hot").addClass("active");
