doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.12.4)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html
  head
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    //-script(type="text/javascript",src='//cdn.firebase.com/v0/firebase.js')
    //-script(type="text/javascript",src="//cdn.firebase.com/v0/firebase-simple-login.js")
    //-script(type="text/javascript",src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js")
    //-script(type="text/javascript",src="js/global.js")
    //-script(type="text/javascript",src="app/controllers/controller.js")
    //-meta(http-equiv="X-UA-Compatible",content="IE=edge")
    //-meta(name="description",content="")
    //-meta(name="viewport",content="width=device-width, initial-scale=1")
    //-link(rel="stylesheet",href="css/normalize.css")
    //-link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700")
    link(rel="stylesheet",href="css/global.css")
    link(rel="stylesheet",href="css/tabmocracy.css")
    script(src="//www.mozilla.org/tabzilla/media/js/tabzilla.js")
    block head
    title
      block title
      | | 全民記者會

  body(ng-app="zeropress")
    nav#tabmocracy
      a#tabzilla(href="http://g0v.tw/")
        img(src="img/g0v-horizontal-transparent-darkbackground-s.png")
    nav#navbar
      .ui.secondary.pointing.menu.main
        .ui.dropdown.item.filter 台北市
          include geomenu
        a.item.ask(href="index.html") 出題
        a.item.answer(href="answer.html") 給分
        a.item.roster(href="roster.html") 人物
        a.item.tag(href="tag.html") 標籤
        .ui.dropdown.item.right.user
          // 登入
          img.ui.image.avatar(src="https://graph.facebook.com/1505331262/picture")
          | WangShen Lu
          i.icon.dropdown
          .menu
           a.item(href="user.html") 我的紀錄
           .item 登出

    block body

    #script
      script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
      script(src="js/global.js")
      block script

