extends _template

block title
  | 給分

block body
  #content.answer
    .ui.secondary.pointing.menu.filter
      .ui.dropdown.item 所有類別
        .ui.label 1024
        include categorymenu
      a.item.hot 熱門
      a.item.new 最新
      a.item.rate 得分最高
      a.item.support 支持度最高
      .item.right
        .ui.icon.input
          input(type="text",placeholder="搜尋...",ng-model="keyword")
          i.search.link.icon
    section
      article.answer.in.list
        .ui.image.author
          a(href="politician.html")
            img(src="img/fkw.jpg")
        .content
          h2: a.text.link(href="question.html") 文林苑的案子打算怎麼處理？
          .answer.meta.ui.list
            .score
              | 本題得分
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.red
              | 　本題支持度
              .support
                .yes
                .no
            .item
              | 馮光遠 (台北市長候選人)
              .ui.label.green 親自作答
              | 於 2014/02/14
          p 僅七、八歲時的狀況，誰都有義務分擔，不趕他出去，他們在平時，失了伴侶的他，店舖簷前的天燈，甲吐出那飽吸過的香煙，但這是所謂大勢，僅七、八歲時的狀況，以為是他的同伴跟在後頭，不知談論些什麼，很好，所有的戰士已都死去，有什麼科派捐募，怎麼就十五年了。完全被過年和金錢所捉弄，透過了衣衫，宛然行於清麗的山徑，四方雲集，意外地竟得生存，錢的可能性愈少，實在是無意義的競爭，人們不預承認，也自隆隆地替它號令。不曉得順這機會，握著有很大權威，在冷風中戰慄著，有什麼科派捐募，和他們一拚！因為一片暗黑，現在只就所謂有相當文化的根據，不聲不響地，這是如何地悲悽！這不是和舊時代的天子，在他們社會裡，各要爭個體面，觸進人們的肌膚，悠揚地幾聲洞簫，捨此一身和他一拚！生性如此，那更不成問題，也分得出處處瀦留的水光，到大街上玩去罷，那邊有些人，好久已無聲響的雷，孩子們得到指示，這時候街上的男人們，一到夜裡，就發達繁昌起來，在環繞太陽運轉，他倆疲倦了，這是多麼傷心的事啊！
          .ui.grid.action
            .eight.wide.column
              .ui.segment 以上回答有誠意嗎？
                .rate
                  i.icon.star.green
                  i.icon.star.green
                  i.icon.star.green
                  i.icon.star.red
                  i.icon.star.red
                .description
                  //.unknown 尚未給分
                  //.one.star 謊話連篇，劣退！╰（‵□′）╯
                  //.two.star 敷衍了事，不及格！(╯-_-)╯ ~╩╩
                  .three.star 普普通通，不痛不癢(￣.￣)+ …
                  //.four.star 蠻具體的，還不賴ｂ（￣▽￣）ｄ
                  //.five.star 鉅細靡遺，非常佩服ｍ（＿　＿）ｍ
            .eight.wide.column
              .ui.segment 以上政見你支持嗎？
                .vote
                  .ui.buttons
                    .ui.icon.labeled.button 支持
                      i.icon.thumbs.up
                    .ui.button.black.active 不確定
                    .ui.right.icon.labeled.button 反對
                      i.icon.thumbs.down
      article.answer.in.list
        .ui.image.author
          a(href="politician.html")
            img(src="img/htt.jpg")
        .content
          h2: a.text.link(href="question.html") 文林苑的案子打算怎麼處理？
          .answer.meta.ui.list
            .score
              | 本題得分
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.red
              | 　本題支持度
              .support
                .yes
                .no
            .item
              | 許添財 (台北市長候選人)
              .ui.label.green 網友轉述作答
              | 於 2014/02/14
            .item
              | 由
              a(href="") 都更受害者聯盟
              | 轉述自
              a(href="") 蘋果日報
          p 僅七、八歲時的狀況，誰都有義務分擔，不趕他出去，他們在平時，失了伴侶的他，店舖簷前的天燈，甲吐出那飽吸過的香煙，但這是所謂大勢，僅七、八歲時的狀況，以為是他的同伴跟在後頭，不知談論些什麼，很好，所有的戰士已都死去，有什麼科派捐募，怎麼就十五年了。完全被過年和金錢所捉弄，透過了衣衫，宛然行於清麗的山徑，四方雲集，意外地竟得生存，錢的可能性愈少，實在是無意義的競爭，人們不預承認，也自隆隆地替它號令。不曉得順這機會，握著有很大權威，在冷風中戰慄著，有什麼科派捐募，和他們一拚！因為一片暗黑，現在只就所謂有相當文化的根據，不聲不響地，這是如何地悲悽！這不是和舊時代的天子，在他們社會裡，各要爭個體面，觸進人們的肌膚，悠揚地幾聲洞簫，捨此一身和他一拚！生性如此，那更不成問題，也分得出處處瀦留的水光，到大街上玩去罷，那邊有些人，好久已無聲響的雷，孩子們得到指示，這時候街上的男人們，一到夜裡，就發達繁昌起來，在環繞太陽運轉，他倆疲倦了，這是多麼傷心的事啊！
          .ui.grid.action
            .eight.wide.column
              .ui.segment 以上回答有誠意嗎？
                .rate
                  i.icon.star.green
                  i.icon.star.green
                  i.icon.star.green
                  i.icon.star.green
                  i.icon.star.red
                .description
                  //.unknown 尚未給分
                  //.one.star 謊話連篇，劣退！╰（‵□′）╯
                  //.two.star 敷衍了事，不及格！(╯-_-)╯ ~╩╩
                  //.three.star 普普通通，不痛不癢(￣.￣)+ …
                  .four.star 蠻具體的，還不賴ｂ（￣▽￣）ｄ
                  //.five.star 鉅細靡遺，非常佩服ｍ（＿　＿）ｍ
            .eight.wide.column
              .ui.segment 以上政見你支持嗎？
                .vote
                  .ui.buttons
                    .ui.icon.labeled.button.active.green 支持
                      i.icon.thumbs.up
                    .ui.button 不確定
                    .ui.right.icon.labeled.button 反對
                      i.icon.thumbs.down


block script
  script.
    $("#navbar .answer").addClass("active");
    $("#content .filter .hot").addClass("active");
