i.icon.dropdown
.menu.vertical.geo
  .item 全國
  .item 中央
    .ui.label 6
    i.icon.triangle.right
    .menu
      .item 所有中央機關
      .item 總統府
      .item 行政院
      .item 立法院
      .item 司法院
      .item 考試院
      .item 監察院
  .item 直轄市
    .ui.label 6
    i.icon.triangle.right
    .menu
      .item 所有直轄市
      .item 台北市
      .item 新北市
      .item 桃園市
      .item 台中市
      .item 台南市
      .item 高雄市
  .item 省轄市
    .ui.label 3
    i.icon.triangle.right
    .menu
      .item 所有省轄市
      .item 基隆市
      .item 新竹市
      .item 嘉義市
  .item 縣
    .ui.label 14
    i.icon.triangle.right
    .menu
      .item 所有縣
      .item 桃園縣
      .item 新竹縣
      .item 苗栗縣
      .item 彰化縣
      .item 南投縣
      .item 雲林縣
      .item 嘉縣縣
      .item 屏縣縣
      .item 宜蘭縣
      .item 花蓮縣
      .item 台東縣
      .item 澎湖縣
      .item 金門縣
      .item 連江縣
