extends _ask

block title
  | 首頁

block content
  #content.ask
    .ui.secondary.pointing.menu.filter
      .ui.dropdown.item 所有類別
        .ui.label 1024
        include categorymenu
      a.item.hot 熱門
      a.item.new 最新
      a.item.blame 最迫切
      //a.item.todo 未連署
      a.item.bad 最需改進
      a.item.chart 分布圖
      .item.right
        .ui.icon.input
          input(type="text",placeholder="搜尋...",ng-model="keyword")
          i.search.link.icon
    .question.new.ui.form
      .ui.input
        input.title(type="text",placeholder="新問題...（一邊打字底下清單會一邊過濾出可能重複的類似問題…elastic search?）")
      // 以下兩排欄位要在上面的 input.title 框框按下 enter 後才會顯示
      .field.description
        textarea(placeholder="詳細描述、參考連結")
      .meta
        .group 選區
          .ui.dropdown.select 台北市
            include geomenu
        .group 類別
          .ui.dropdown.select 土地、都市計畫、住房
            include categorymenu
        span.text 案件
        .group
          input(type="text",placeholder="如：文林苑、大埔…等（用來畫分布圖的，輸入時會自動跳出現有的關鍵字當建議）")
      .meta
        .group
          span.text 邀請作答
        .group
          .ui.checkbox
            input(type="checkbox")
            label 所有台北市人物
        .group
          input(type="text",placeholder="指定人物…")
      .meta
        .group
          .ui.icon.labeled.button
            img.ui.image.avatar(src="https://graph.facebook.com/1505331262/picture")
            | 確定送出
            i.icon.checkmark
        .group
          .ui.checkbox
            input(type="checkbox")
            label 同步發表於我的 facebook
    section.list.section
      .question.in.list
        .ui.icon.labeled.button.small.active.green 已連署
          i.icon.thumbs.up
        .ui.left.pointing.label.petition.count 999
        .ui.image.question.status
          img(src="img/bad.png")
        a.title.text.link(href="question.html") 文林苑的案子打算怎麼處理？
        .roster
          .ui.image.avatar
            img(src="img/kwc.jpg")
            i.icon.question
          .ui.image.avatar
            img(src="img/htt.jpg")
            i.icon.comment.green
          .ui.icon.button.small
            i.icon.add
      .question.in.list
        .ui.icon.labeled.button.small 加入連署
          i.icon.thumbs.up
        .ui.left.pointing.label.petition.count 99
        .ui.image.question.status
          img(src="img/blame.png")
        a.title.text.link(href="question.html") 文林苑的案子打算怎麼處理？
        .roster
          .ui.image.avatar
            img(src="img/kwc.jpg")
            i.icon.question
          .ui.image.avatar
            img(src="img/htt.jpg")
            i.icon.question
          .ui.image.avatar
            img(src="img/gls.jpg")
            i.icon.minus.sign.red
          .ui.icon.button.small
            i.icon.add


block script
  script.
    $("#navbar .ask").addClass("active");
    $("#content .filter .hot").addClass("active");
