extends _template

block title
  | 首頁

block body

  #roster
    .board
      .statistic
        .ui.list
          .item
            .ui.label.attend 4
            | 出席中
          .item
            .ui.label.gray 3
            | 尚未回應邀請
          .item
            .ui.label.refuse 1
            | 拒絕出席
      .list
        .avatar
          .image
            img(src="")
            .ui.bottom.attached.label.name 高嘉良
          .ui.label.status.green
          .count
            i.icon.comment
            | 12
            i.icon.comment
            | 12
            br
            i.icon.star.green
            i.icon.star.green
            i.icon.star.green
            i.icon.star.red
            i.icon.star.red
        .avatar
          .image
            img(src="")
            .ui.bottom.attached.label.name 高嘉良
          .ui.label.status.green
          .count
            i.icon.comment
            | 12
            i.icon.comment
            | 12
            br
            i.icon.star.green
            i.icon.star.green
            i.icon.star.green
            i.icon.star.red
            i.icon.star.red
        .avatar
          .image
            img(src="")
            .ui.bottom.attached.label.name 高嘉良
          .ui.label.status.green
          .count
            i.icon.comment
            | 12
            i.icon.comment
            | 12
            br
            i.icon.star.green
            i.icon.star.green
            i.icon.star.green
            i.icon.star.red
            i.icon.star.red

block script
  script.
    $("#navbar .ask").addClass("active");
