extends _ask

block title
  | 首頁

block content
  #content.ask
    .ui.secondary.pointing.menu.filter
      .ui.dropdown.item 所有類別 (1024)
        i.icon.dropdown
        .menu
          .item 所有類別
      a.item.hot 熱門
      a.item.new 最新
      a.item.blame 最受期待
      a.item.bad 最多退稿
      a.item.chart 懸浮微粒
      .item.right
        .ui.icon.input
          input(type="text",placeholder="搜尋...",ng-model="keyword")
          i.search.link.icon
    .question.new.ui.icon.input
      input(type="text",placeholder="新問題...（一邊打字底下清單會一邊過濾出可能重複的類似問題）")
    .question
      .ui.icon.labeled.button.small.active.green 已連署
        i.icon.thumbs.up
      .ui.left.pointing.label.count 999
      .ui.image.status
        img(src="img/bad.png")
      a.title.text.link(href="question.html") 文林苑的案子打算怎麼處理？
      .roster
        a.item
          .ui.image.avatar.unknown
            img(src="img/kwc.jpg")
            i.icon.question
        a.item
          .ui.image.avatar.answer
            img(src="img/htt.jpg")
            i.icon.comment.green
        .ui.icon.button.small
          i.icon.add
    .question
      .ui.icon.labeled.button.small 加入連署
        i.icon.thumbs.up
      .ui.left.pointing.label.count 99
      .ui.image.status
        img(src="img/blame.png")
      a.title.text.link(href="question.html") 文林苑的案子打算怎麼處理？
      .roster
        a.item
          .ui.image.avatar.green
            img(src="img/kwc.jpg")
            i.icon.question
        a.item
          .ui.image.avatar
            img(src="img/htt.jpg")
            i.icon.question
        a.item
          .ui.image.avatar
            img(src="img/gls.jpg")
            i.icon.minus.sign.red
        .ui.icon.button.small
          i.icon.add


block script
  script.
    $("#navbar .ask").addClass("active");
    $("#content .filter .hot").addClass("active");
