extends _template

block title
  | 出題：文林苑的案子打算怎麼處理？

block body
  #content.question
    header.header
      a.author(href="") 都更受害者聯盟
        br
        | 2014/02/14
      h1 文林苑的案子打算怎麼處理？
      p 描述問題背景，附上參考資料連結。
    section.meta
      .group
        .ui.icon.labeled.button.small 加入連署
          i.icon.thumbs.up
        .ui.left.pointing.label.petition.count 99
      .group
        | 怨念指數
        .ui.image.question.status
          img(src="img/blame.png")
        .ui.image.question.status
          img(src="img/blame.png")
        .ui.image.question.status
          img(src="img/blame.png")
      .group
        | 選區
        .ui.label 台北市
        | 類別
        .ui.label 土地、都市計畫、住房
        | 社會事件
        .ui.label 文林苑
      table.ui.table.segment.roster
        thead: tr
          th.five.wide 人物
          th.three.wide 作答
          th.three.wide 得分
          th.four.wide 摘要
        tbody
          tr
            td
              .ui.image.avatar
                img(src="img/fkw.jpg")
                i.icon.comment.green
              | 馮光遠 (台北市長候選人)
            td
              .ui.label.green 親自作答
            td
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.red
              i.icon.star.red
            td.summary
              a.text.link(href="") 摘要，按了以後跳到本頁下方回答處，太長的部分會自動不見
          tr
            td
              .ui.image.avatar
                img(src="img/gls.jpg")
                i.icon.comment.green
              | 顧立雄 (台北市長候選人)
            td
              .ui.label.green 網友轉述作答
            td
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.red
              i.icon.star.red
            td.summary
              a.text.link(href="") 摘要，按了以後跳到本頁下方回答處，太長的部分會自動不見
          tr
            td
              .ui.image.avatar.green
                img(src="img/kwc.jpg")
                i.icon.question
              | 柯文哲 (台北市長候選人)
            td
              .ui.label.gray 尚未回答
            td
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
            td.summary
              a.text.link(href="") 摘要，按了以後跳到本頁下方回答處，太長的部分會自動不見
          tr
            td
              .ui.image.avatar
                img(src="img/htt.jpg")
                i.icon.question
              | 許添財 (台北市長候選人)
            td
              .ui.label.gray 尚未回答
            td
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
            td.summary
              a.text.link(href="") 摘要，按了以後跳到本頁下方回答處，太長的部分會自動不見
          tr
            td
              .ui.image.avatar
                img(src="")
                i.icon.minus.sign.red
              | 連勝文 (台北市長候選人)
            td
              .ui.label.red 拒絕作答
            td
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
            td.summary
              a.text.link(href="") 摘要，按了以後跳到本頁下方回答處，太長的部分會自動不見
          tr
            td
              .ui.image.avatar
                img(src="")
                i.icon.minus.sign.red
              | 郝龍斌 (台北市長)
            td
              .ui.label.red 拒絕作答
            td
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
              i.icon.star
            td.summary
              a.text.link(href="") 摘要，按了以後跳到本頁下方回答處，太長的部分會自動不見
        tfoot
          tr: th(colspan="4")
            .ui.icon.labeled.button.small 邀請更多人作答
              i.icon.add
    section
      .answer.in.list
        .ui.image.author
          img(src="img/fkw.jpg")
        .new.direct.answer.content.ui.form
          .field.answer
            textarea(placeholder="新回答...")
          // 要在上面的 input.title 框框按下 enter 後才會顯示
          .meta
            .group
              .ui.icon.labeled.button
                img.ui.image.avatar(src="img/fkw.jpg")
                | 確定送出
                i.icon.checkmark
            .group
              .ui.checkbox
                input(type="checkbox")
                label 同步發表於我的 facebook
      .answer.in.list
        .ui.image.author
        .new.direct.answer.content.ui.form
          .ui.inverted.menu.roster
            .text.item 轉述
            .ui.dropdown.item 選擇人物…
              i.icon.dropdown
              .menu
                a.item
                  .ui.image.avatar
                    img(src="img/fkw.jpg")
                  | 馮光遠
                a.item
                  .ui.image.avatar
                    img(src="img/kwc.jpg")
                  | 柯文哲
                a.item
                  .ui.image.avatar
                    img(src="img/htt.jpg")
                  | 許添財
                a.item
                  .ui.image.avatar
                    img(src="img/gls.jpg")
                  | 顧立雄
            .text.item 的回答
            .ui.icon.labeled.button.black.item.right 選擇其他人物…
              i.icon.add
          .field.answer
            textarea(placeholder="新回答...")
          .meta
            .group
              .ui.input.reference
                input(type="text",placeholder="轉述來源網址",size="30")
            .group
              .ui.icon.labeled.button
                img.ui.image.avatar(src="https://graph.facebook.com/1505331262/picture")
                | 確定送出
                i.icon.checkmark
            .group
              .ui.checkbox
                input(type="checkbox")
                label 同步發表於我的 facebook
      article.answer.in.list
        .ui.image.author
          a(href="")
            img(src="img/fkw.jpg")
        .content
          .answer.meta.ui.list
            .score
              | 本題得分
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.red
              | 　本題支持度
              .support
                .yes
                .no
            .item
              | 馮光遠 (台北市長候選人)
              .ui.label.green 親自作答
              | 於 2014/02/14
          p 僅七、八歲時的狀況，誰都有義務分擔，不趕他出去，他們在平時，失了伴侶的他，店舖簷前的天燈，甲吐出那飽吸過的香煙，但這是所謂大勢，僅七、八歲時的狀況，以為是他的同伴跟在後頭，不知談論些什麼，很好，所有的戰士已都死去，有什麼科派捐募，怎麼就十五年了。完全被過年和金錢所捉弄，透過了衣衫，宛然行於清麗的山徑，四方雲集，意外地竟得生存，錢的可能性愈少，實在是無意義的競爭，人們不預承認，也自隆隆地替它號令。不曉得順這機會，握著有很大權威，在冷風中戰慄著，有什麼科派捐募，和他們一拚！因為一片暗黑，現在只就所謂有相當文化的根據，不聲不響地，這是如何地悲悽！這不是和舊時代的天子，在他們社會裡，各要爭個體面，觸進人們的肌膚，悠揚地幾聲洞簫，捨此一身和他一拚！生性如此，那更不成問題，也分得出處處瀦留的水光，到大街上玩去罷，那邊有些人，好久已無聲響的雷，孩子們得到指示，這時候街上的男人們，一到夜裡，就發達繁昌起來，在環繞太陽運轉，他倆疲倦了，這是多麼傷心的事啊！
          .ui.grid.action
            .eight.wide.column
              .ui.segment 以上回答有誠意嗎？
                .rate
                  i.icon.star
                  i.icon.star
                  i.icon.star
                  i.icon.star
                  i.icon.star
                .description
                  .unknown 尚未給分
                  //.one.star 謊話連篇，劣退！╰（‵□′）╯
                  //.two.star 敷衍了事，不及格！(╯-_-)╯ ~╩╩
                  //.three.star 普普通通，不痛不癢(￣.￣)+ …
                  //.four.star 蠻具體的，還不賴ｂ（￣▽￣）ｄ
                  //.five.star 鉅細靡遺，非常佩服ｍ（＿　＿）ｍ
            .eight.wide.column
              .ui.segment 以上政見你支持嗎？
                .vote
                  .ui.buttons
                    .ui.icon.labeled.button 支持
                      i.icon.thumbs.up
                    .ui.button.black.active 不確定
                    .ui.right.icon.labeled.button 反對
                      i.icon.thumbs.down
      article.answer.in.list
        .ui.image.author
          a(href="")
            img(src="img/htt.jpg")
        .content
          .answer.meta.ui.list
            .score
              | 本題得分
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.green
              i.icon.star.red
              | 　本題支持度
              .support
                .yes
                .no
            .item
              | 許添財 (台北市長候選人)
              .ui.label.green 網友轉述作答
              | 於 2014/02/14
            .item
              | 由
              a(href="") 都更受害者聯盟
              | 轉述自
              a(href="") 蘋果日報
          p 僅七、八歲時的狀況，誰都有義務分擔，不趕他出去，他們在平時，失了伴侶的他，店舖簷前的天燈，甲吐出那飽吸過的香煙，但這是所謂大勢，僅七、八歲時的狀況，以為是他的同伴跟在後頭，不知談論些什麼，很好，所有的戰士已都死去，有什麼科派捐募，怎麼就十五年了。完全被過年和金錢所捉弄，透過了衣衫，宛然行於清麗的山徑，四方雲集，意外地竟得生存，錢的可能性愈少，實在是無意義的競爭，人們不預承認，也自隆隆地替它號令。不曉得順這機會，握著有很大權威，在冷風中戰慄著，有什麼科派捐募，和他們一拚！因為一片暗黑，現在只就所謂有相當文化的根據，不聲不響地，這是如何地悲悽！這不是和舊時代的天子，在他們社會裡，各要爭個體面，觸進人們的肌膚，悠揚地幾聲洞簫，捨此一身和他一拚！生性如此，那更不成問題，也分得出處處瀦留的水光，到大街上玩去罷，那邊有些人，好久已無聲響的雷，孩子們得到指示，這時候街上的男人們，一到夜裡，就發達繁昌起來，在環繞太陽運轉，他倆疲倦了，這是多麼傷心的事啊！
          .ui.grid.action
            .eight.wide.column
              .ui.segment 以上回答有誠意嗎？
                .rate
                  i.icon.star.green
                  i.icon.star.red
                  i.icon.star.red
                  i.icon.star.red
                  i.icon.star.red
                .description
                  //.unknown 尚未給分
                  .one.star 謊話連篇，劣退！╰（‵□′）╯
                  //.two.star 敷衍了事，不及格！(╯-_-)╯ ~╩╩
                  //.three.star 普普通通，不痛不癢(￣.￣)+ …
                  //.four.star 蠻具體的，還不賴ｂ（￣▽￣）ｄ
                  //.five.star 鉅細靡遺，非常佩服ｍ（＿　＿）ｍ
            .eight.wide.column
              .ui.segment 以上政見你支持嗎？
                .vote
                  .ui.buttons
                    .ui.icon.labeled.button 支持
                      i.icon.thumbs.up
                    .ui.button 不確定
                    .ui.right.icon.labeled.button.active.red 反對
                      i.icon.thumbs.down
    footer.related
      .ui.horizontal.divider 相關問題
      .question.in.list
        .ui.icon.labeled.button.small.active.green 已連署
          i.icon.thumbs.up
        .ui.left.pointing.label.petition.count 999
        .ui.image.question.status
          img(src="img/bad.png")
        a.title.text.link(href="question.html") 文林苑的案子打算怎麼處理？
        .roster
          .ui.image.avatar.unknown
            img(src="img/kwc.jpg")
            i.icon.question
          .ui.image.avatar.answer
            img(src="img/htt.jpg")
            i.icon.comment.green
          .ui.icon.button.small
            i.icon.add
      .question.in.list
        .ui.icon.labeled.button.small 加入連署
          i.icon.thumbs.up
        .ui.left.pointing.label.petition.count 99
        .ui.image.question.status
          img(src="img/blame.png")
        a.title.text.link(href="question.html") 文林苑的案子打算怎麼處理？
        .roster
          .ui.image.avatar.green
            img(src="img/kwc.jpg")
            i.icon.question
          .ui.image.avatar
            img(src="img/htt.jpg")
            i.icon.question
          .ui.image.avatar
            img(src="img/gls.jpg")
            i.icon.minus.sign.red
          .ui.icon.button.small
            i.icon.add



block script
  script.
    $("#navbar .ask").addClass("active");
    $("#content .filter .hot").addClass("active");
