i.icon.dropdown
.menu
  a.item
    .ui.image.avatar
      img(src="img/fkw.jpg")
    | 馮光遠
  a.item
    .ui.image.avatar
      img(src="img/kwc.jpg")
    | 柯文哲
  a.item
    .ui.image.avatar
      img(src="img/htt.jpg")
    | 許添財
  a.item
    .ui.image.avatar
      img(src="img/gls.jpg")
    | 顧立雄
  a.item 更多…
