@charset "UTF-8";
html {
  font-size: 18px;
  font-family: "微軟正黑體", sans-serif;
  color: #333333;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

a, a:link {
  text-decoration: none;
  color: inherit;
}

.corner.label.dpp {
  border-color: green;
  color: white;
}
.corner.label.kmt {
  border-color: blue;
  color: white;
}
.corner.label.na {
  border-color: gray;
  color: white;
}

.ui.button.black.active {
  background-color: #5c6166;
  color: white;
}

.ui.menu .item .avatar, .ui.button .avatar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: -0.5rem 0.5rem -0.5rem 0;
}

.ui.label.white {
  background: none;
}

.ui.menu .item .ui.label {
  vertical-align: inherit;
  margin: -0.3em 0 -0.3em 0.5em;
}

#tabmocracy {
  width: 960px;
  opacity: 0.8;
  margin: 0 auto;
}

#navbar {
  min-width: 960px;
  height: 136px;
  background-color: #cccccc;
  background: url("../img/nav.png") no-repeat center top, url("../img/nav-repeat.png") repeat-x center;
  padding-top: 85px;
}
#navbar .menu.main {
  width: 960px;
  margin: 0 auto;
  font-weight: bold;
}
#navbar .menu.main .item {
  border-bottom: 5px solid rgba(193, 39, 45, 0);
}
#navbar .menu.main .active {
  color: black;
  border-color: #c1272d;
  background-color: rgba(193, 39, 45, 0.1);
}
#navbar .menu.main .user {
  white-space: nowrap;
}
#navbar .filter {
  min-width: 170px;
  margin-right: 50px;
}

.geo.menu.vertical {
  width: 170px;
}

.ui.vertical.menu .item > .menu > .item {
  font-size: 0.8rem;
}

.politician.in.list {
  min-height: 9rem;
  width: auto;
  padding: 0;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0.5rem;
}
.politician.in.list .image {
  width: 5rem;
  height: 5rem;
  text-align: center;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  margin: 0 auto;
}
.politician.in.list .image .name {
  padding: 0.2rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.politician.in.list .image .online.status {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  left: -0.3rem;
  top: -0.3rem;
  border: 1px white solid !important;
}
.politician.in.list .info {
  font-size: 0.8rem;
  text-align: center;
}
.politician.in.list .info .name {
  font-size: 1rem;
  padding: 0.25rem 0;
}
.politician.in.list .info .online.status {
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
}
.politician.in.list .info .count {
  padding: 0.3rem 0;
  line-height: 1.2em;
}
.politician.in.list .info .count .icon {
  color: inherit;
}

#roster {
  background: url("../img/roster-repeat.png"), linear-gradient(#a67c52, #754c24);
}
#roster .group.name {
  clear: both;
}
#roster .board {
  width: 960px;
  background-color: #333333;
  color: #eeeeee;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  border-bottom: 5px #cccccc solid;
  -webkit-box-shadow: 0 2px 5px black;
  -moz-box-shadow: 0 2px 5px black;
  box-shadow: 0 2px 5px black;
}
#roster .board.in.ask.page {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  height: 10rem;
}
#roster .board.in.ask.page .statistic {
  height: 9rem;
  float: left;
  padding: 1rem;
}
#roster .board.in.ask.page .statistic .attend {
  background-color: #a1cf64;
  color: white;
}
#roster .board.in.ask.page .statistic .refuse {
  background-color: #d95c5c;
  color: white;
}
#roster .board.in.ask.page .roster {
  overflow: auto;
  height: 10rem;
  margin-top: 0;
  padding-top: 1rem;
}
#roster .board.in.roster.page {
  margin-top: -1rem;
  padding: 1rem;
}
#roster .board.in.roster.page .group.name {
  color: #eeeeee;
}

#content {
  clear: both;
  width: 960px;
  margin: 0.5rem auto;
}
#content .avatar {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px #cccccc solid;
}
#content .avatar .icon {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
#content .question.status {
  background: none;
  width: 2rem;
  height: 2rem;
}
#content .petition.count {
  margin: 0 0 0 0.5rem;
  padding: 0.8em;
  font-size: 0.875rem;
}
#content .text.link {
  padding: 0.5rem;
}
#content .text.link:hover {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.05);
}
#content .score .support {
  display: inline-block;
  width: 5rem;
  height: 0.5rem;
  background-color: #eeeeee;
}
#content .score .support .yes {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #a1cf64;
}
#content .score .support .no {
  float: right;
  width: 30%;
  height: 100%;
  background-color: #d95c5c;
}
#content .question.in.list {
  padding: 0.3rem 0;
  border-bottom: 1px #dddddd solid;
}
#content .question.in.list .title {
  display: inline;
}
#content .question.in.list .roster {
  float: right;
}
#content .answer.in.list {
  margin-top: 1rem;
  border-top: 1px #cccccc dashed;
  padding-top: 1rem;
}
#content .answer.in.list:first-child {
  border-top: none;
}
#content .answer.in.list .image.author {
  width: 3rem;
  height: 3rem;
  float: left;
}
#content .answer.in.list .content {
  line-height: 1.5em;
  margin-left: 4rem;
  padding-top: 0rem;
}
#content .answer.in.list .content h2 {
  margin: 0 0 0.5rem 0;
}
#content .answer.in.list .content h2 a {
  display: block;
  margin: -0.5rem 0 0 -0.5rem;
}
#content .answer.in.list .content .answer.meta {
  margin: 0;
}
#content .answer.in.list .content .answer.meta .score {
  float: right;
  margin-top: 0.45rem;
}
#content .answer.in.list .content .answer.meta .item:after {
  clear: none;
}
#content .answer.in.list .content .action .column {
  margin: 0;
}
#content .answer.in.list .content .action .column .rate {
  margin: 0.5rem auto 0;
  text-align: center;
  font-size: 2rem;
}
#content .answer.in.list .content .action .column .rate .star {
  color: #cccccc;
}
#content .answer.in.list .content .action .column .description {
  text-align: center;
  font-size: 1.2rem;
}
#content .answer.in.list .content .action .column .vote {
  margin: 0.5rem auto 0;
  text-align: center;
}
#content .question.new .field.answer, #content .answer.new .field.answer {
  clear: none;
  margin: 0;
}
#content .question.new .description, #content .question.new .meta, #content .answer.new .description, #content .answer.new .meta {
  margin: 0.5rem 0;
}
#content .question.new .roster, #content .answer.new .roster {
  margin-bottom: 0;
}
#content.ask .question.new {
  margin: 0.5rem 0;
}
#content.ask .question.new .meta .group {
  display: inline-block;
  margin-right: 1rem;
}
#content.ask .question.new .meta .group .select {
  padding: 0.7em 1em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
#content.ask .list.section {
  border-top: 1px #dddddd solid;
}
#content.question .header .author {
  float: right;
}
#content.question .meta .group {
  display: inline-block;
  margin-right: 1rem;
}
#content.question .meta .status {
  margin: 0 -0.25rem;
}
#content.question .meta .roster {
  margin: 0.5rem 0;
}
#content.question .meta .roster .icon.star {
  color: #cccccc;
}
#content.question .meta .roster .summary a {
  width: 256px;
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content.question .related {
  margin: 1rem 0;
}
#content.politician {
  margin-top: 0;
}
#content.politician .summary {
  background-color: #333333;
  color: #eeeeee;
  padding-top: 1rem;
}
#content.politician .summary .photo {
  width: 10rem;
  height: 10rem;
  position: absolute;
  margin-top: -1rem;
}
#content.politician .summary .description {
  position: relative;
  margin: 0 1rem 0 11rem;
  min-height: 9rem;
}
#content.politician .summary .description h1 .ui.label {
  color: inherit;
  font-size: 1rem;
}
#content.politician .data.menu {
  margin-top: 0;
}
#content.politician .category.menu {
  position: absolute;
  margin-top: 0;
}
#content.politician .list.content {
  margin-left: 16rem;
}
#content.politician .question.in.list .politician.answer.status {
  float: right;
  margin-top: 0.5rem;
}
#content.politician .question.in.list .politician.answer.status .score {
  margin-top: 0.1rem;
}
#content.politician .answer.in.list .content {
  margin-left: 0;
}
#content.politician .answer.in.list .content .answer.meta .score {
  float: none;
  margin: 0.5rem 0;
}
#content.politician .answer.in.list .content .action .description {
  font-size: 1rem;
}
