html {
  font-size: 18px;
}

html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navbar {
  height: 136px;
  background-color: #cccccc;
  background: url("../img/nav.png") no-repeat center top, url("../img/nav-repeat.png") repeat-x center;
  padding-top: 85px;
}
#navbar .menu.main {
  width: 960px;
  margin: 0 auto;
  font-weight: bold;
}
#navbar .menu.main .item {
  border-bottom: 5px solid rgba(193, 39, 45, 0);
}
#navbar .menu.main .active {
  color: black;
  border-color: #c1272d;
  background-color: rgba(193, 39, 45, 0.1);
}
#navbar .filter {
  width: 170px;
  margin-right: 50px;
}
#navbar .filter .menu {
  background-color: #ffe6e7;
}

#roster {
  background: url("../img/roster-repeat.png"), linear-gradient(#a67c52, #754c24);
  padding-top: 0.5rem;
}
#roster .board {
  width: 960px;
  margin: 0 auto;
  background-color: #333333;
  color: #eeeeee;
  border-bottom: 5px #cccccc solid;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  -webkit-box-shadow: 0 2px 5px black;
  -moz-box-shadow: 0 2px 5px black;
  box-shadow: 0 2px 5px black;
}
#roster .board .statistic {
  float: left;
}
#roster .board .statistic .attend {
  background-color: green;
  color: white;
}
#roster .board .statistic .refuse {
  background-color: red;
  color: white;
}
#roster .board .list {
  overflow-x: auto;
  padding: 1rem;
}
#roster .board .list .avatar {
  display: inline-block;
  position: relative;
  margin-right: 1rem;
}
#roster .board .list .avatar .image {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: #cccccc;
  text-align: center;
  border: 3px white solid;
}
#roster .board .list .avatar .image .name {
  padding: 0.3rem;
}
#roster .board .list .avatar .status {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  left: -0.3rem;
  top: -0.3rem;
  border: 1px white solid !important;
}
#roster .board .list .avatar .count {
  font-size: 0.85rem;
  padding: 0.3rem;
  text-align: center;
}
